@import "../../../styles/theme.scss";
.language-btn-block {
    align-self: center;
    text-align: center;
    padding: 5px;
}

.default-button {
    font-size: 14px;
    padding: 5px;
    width: 80px;
}

.tamil-btn {
    font-family: sans-serif;
}

.mr-auto,
.mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler {
    padding: 0
}
.nav-button{
    margin-right: 5px;
}
.nav-bar-menu{
    margin-right: 5px !important;
}
.nav-bar-text{
    color: $app_primary_color_white !important;
}
.logo-img{
    width: 70px;
    position: absolute;
    top: 20px;
}
.language-block{
    position: relative;
    text-align: right;
    right: 20px;
    top: 4px;
    .language-text{
        margin-right: 10px;
    }
    .language-text{
        color: $app_primary_text_color_grey;
    }
    .active{
        color: $app_primary_color_yellow;
    }
}
.header-btn-highlight{
    color: $app_primary_color_white;
    background-color: $app_primary_color_yellow;
    border-color: transparent;
}
.news-event-header{
    height: 50px;
    background-color: $app_primary_color1;
    width: 98%;
}
.block3{
    margin-top: 10px;
}

.news-event-header-text{
    color: $app_primary_color_white;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
    font-weight: 700;
    margin-left: 8px;
}
.news-event-body{
    background-color: $app_primary_text_color_grey;
    width: 98%;  
    border: 1px solid $app_primary_text_color_grey;
    height: 100%;
}
.language-text{
    cursor: pointer;
}
.heading-label1{
    margin: 0 auto;
}
.our-project-block{
    margin-top: 25px;
}
.our-project-card{
    margin-top: 25px;
}
.project-img{
    object-fit: scale-down;
}
.about-us-block{
    margin-top: 25px;
}
.about-us-body{
    margin-top: 25px;
}